@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<div class="text-center">
    <h1 class="display-4">Controle de Clientes</h1>
    <a role="button" class="btn btn-primary">+ Novo cliente</a>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>mak@email.com</td>
          <td>22 90239-1230</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a role="button" class="btn btn-outline-primary">Editar</a>
                <a role="button" class="btn btn-outline-danger">Excluir</a>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>j@email.com</td>
          <td>23 12307-1209</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a role="button" class="btn btn-outline-primary">Editar</a>
                    <a role="button" class="btn btn-outline-danger">Excluir</a>
                </div>

          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Paulo</td>
          <td>paulo@gmail.com</td>
          <td>11 98231-0239</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a role="button" class="btn btn-outline-primary">Editar</a>
                <a role="button" class="btn btn-outline-danger">Excluir</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>

